/*
    Meal Manager
    Mobile App Style Sheet
*/

@font-face {
    font-family: 'nobile';
    src: url('fonts/Nobile/Nobile-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url("../img/cuttingboard.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'nobile', Tahoma, Arial, sans-serif;
}

h1, h2, h3, h4, h5, button, .button{
    font-family: 'nobile', Tahoma, Arial, sans-serif;
}

h1, a{
    color: #9f1212;
}

.extra-top-padding{
    padding-top: 20px;
}

#fixed-to-bottom{
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
}

#home-pg-buttons{
    text-align: center;
}

#home-pg-buttons > .button{
    margin: 15px;
    width: 65%;
    background: #9f1212;
    color: #f5ceab;
    opacity: 0.8;
}

.icon-bar{
    background: #9f1212;
    opacity: 0.8;
}

.icon-bar > * i {
    color: #f5ceab;
}

.icon-bar > * label {
    color: #f5ceab;
}

.inner-wrap{
    height: 100%;
}

.no-padding{
    padding: 0;
}

.off-canvas-wrap{
    height: 100%;
}

p{
    line-height: 1.3em;
}

#title{
    padding: 15px;
    text-align: center;
}

.ui-mobile .ui-page-active {
    height: 100%;
}
