/*
    Meal Manager
    Mobile App Style Sheet
*/

@font-face {
    font-family: 'nobile';
    src: url('fonts/Nobile/Nobile-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url("../img/cuttingboard.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'nobile', Tahoma, Arial, sans-serif;
}

h1, h2, h3, h4, h5, button, .button{
    font-family: 'nobile', Tahoma, Arial, sans-serif;
}

h1, a{
    color: #9f1212;
}

button:hover, button:active .button:hover, .button:active{
    opacity: 1;
}

.extra-top-padding{
    padding-top: 20px;
}

#fixed-to-bottom{
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
}

#home-pg-buttons{
    text-align: center;
}

#home-pg-buttons > .button{
    margin: 15px;
    width: 65%;
    background: #9f1212;
    color: #CFB68C;
    opacity: 0.8;
}

.icon-bar{
    background: #9f1212;
    opacity: 0.8;
}

.icon-bar > * i {
    color: #CFB68C;
}

.icon-bar > * label {
    color: #CFB68C;
}

.inner-wrap{
    height: 100%;
}

.left-off-canvas-menu{
    background: #CFB68C;
}

.move-left .exit-off-canvas {
    box-shadow: -4px 0 4px #8F7D60, 4px 0 4px rgba(0, 0, 0, 0.5);
}

.move-right .exit-off-canvas {
    box-shadow: -4px 0 4px #8F7D60, 4px 0 4px rgba(0, 0, 0, 0.5);
}

.no-padding{
    padding: 0;
}

.off-canvas-wrap{
    height: 100%;
}

p{
    line-height: 1.3em;
}


.right-off-canvas-menu{
    background: #CFB68C;
}

#title{
    padding: 15px;
    text-align: center;
}

.ui-mobile .ui-page-active {
    height: 100%;
}

ul.off-canvas-list{
}

ul.off-canvas-list li{
    background: #B59F7A;
}

ul.off-canvas-list li a{
    border-bottom-color: #8F7D60;
}

ul.off-canvas-list li label{
    background: #8F7D60;
    color: white;
}

